@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PelakFA';
  src: url('../public/fonts/PelakFA-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PelakFA';
  src: url('../public/fonts/PelakFA-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PelakFA';
  src: url('../public/fonts/PelakFA-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PelakFA';
  src: url('../public/fonts/PelakFA-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PelakFA';
  src: url('../public/fonts/PelakFA-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

.containerZiva{
  padding: 158px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .containerZiva{
    padding: 24px;
  }
}