@tailwind base;
@tailwind components;
@tailwind utilities;

.containerZiva {
  padding: 78px 158px;
  /* display: flex;
  flex-direction: column;
  gap: 120px; */
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .containerZiva {
    padding: 2rem;
  }
}

@media only screen and (max-width: 1400px) {
  .containerZiva {
    padding: 4rem;
  }
}

@media only screen and (max-width: 1250px) {
  .containerZiva {
    padding: 5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .containerZiva {
    padding: 24px;
  }
}
.hamberger{
  backdrop-filter: none !important;
}
body {
  /* font-family: "PelakFA !important"; */
  margin: 0;
  padding: 0;
}
*{
  /* font-family: "PelakFA !important"; */

}